# Модуль 1. О вкусной и здоровой пище

## 1.1. Война войной, а обед по расписанию!

### Что вы получите в результате работы?
 - создадите свою первую модель, основанную на алгоритмах машинного обучения.
 - примете участие в соревновании на Kaggle.
 - опубликуете решение на Kaggle, Github и (при желании) в личном блоге или на других ресурсах, посвященных IT.

### Сколько шагов нужно будет пройти на пути к цели?

6 шагов.

Сколько времени выделяется на весь путь?

4 недели.

Что нужно сделать на этом шаге?

- разобраться с подробным описанием того, как будет организовано изучение модуля;
- скачать датасет для работы;
- загрузить датасет и проанализировать содержащиеся в нём данные;
- ответить на вопросы о данных.

Сколько времени мы рекомендуем потратить на этот шаг?

1 день.

### Чем мы будем заниматься?

В этом модуле вы попробуете решить свой первый настоящий кейс и создадите первую модель, использующую алгоритмы машинного обучения.

Не пугайтесь, вам не придётся совершать академический подвиг и изучать машинное обучение в экстремально короткие сроки! На самом деле код для создания и обучения модели мы вам предоставим в готовом виде, и этот код будет довольно простым: в нём не будет предусмотрен подбор параметров и тонкая настройка модели (всему этому вы научитесь позже, в курсе по ML). Пока ваша задача будет состоять в том, чтобы качественно подготовить данные для обучения модели. В ближайшие 2-3 недели вы убедитесь, что тщательная очистка данных и генерация новых признаков (Feature Engineering ) способны повысить точность модели в 2 и более раз, и владение этими навыками играют в машинном обучении не меньшую роль, чем умение выбрать алгоритм и настроить модель.

Итак, факт остается фактом: свою первую модель вы создадите уже через пару недель, а после этого, в следующие две недели, используете свои наработки для участия в первом в вашей жизни соревновании на платформе Kaggle.com, создадите репозиторий на GitHub и начнёте работать над созданием своего личного бренда в онлайн-сообществе специалистов по Data Science.

Изучение сквозного курса временами будет существенно отличаться от изучения остальных учебных модулей.

### Чем сквозной курс отличается от других?

- Способы решения задач, которые рассматриваются в курсе, могут кардинально отличаться у разных студентов, и это абсолютно нормально, а до некоторой степени даже запланировано авторами курса ).
- В курсе мы практически не будем уделять внимание изучению новых инструментов (хотя никто не запрещает вам этим заниматься!), но будем концентрироваться на применении уже знакомых вам инструментов в условиях, приближенных к реальным. Мы надеемся, что такой подход позволит вам глубже понять и прочнее запомнить материал.
- Часть заданий вы будете выполнять в парах или группах с другими студентами. Работа в команде — это то, что делает современную IT-индустрию такой сильной и быстро развивающейся.
- Некоторые задания будут представлять собой соревнования. Data Science — это очень конкурентная среда, и нужно быть готовым к работе в ней!
- Оценки за самые главные задания вам будет ставить не платформа, а наставник, который будет отслеживать ваши успехи и давать обратную связь.
- В модулях сквозного курса не предусмотрена помощь технической поддержки, а наставникам запрещено помогать студентам писать код или искать ошибки в уже написанном коде. Задача наставника — подсказать направление работы, дать обратную связь, но в остальном условия работы будут приближены к реальной работе в индустрии. При этом, конечно, никто не запрещает вам советоваться друг с другом )

### А при чём здесь еда?
На самом деле все предельно просто: в этом модуле вы будете работать с датасетом, содержащим сведения о 40 000 ресторанах Европы, а модель, которую вы будете обучать, должна будет предсказывать рейтинг ресторана по данным сайта TripAdvisor на основе имеющихся в датасете данных.

Первоначальная версия датасета состоит из десяти столбцов, содержащих следующую информацию:
- Restaurant_id — идентификационный номер ресторана;
- City — город, в котором находится ресторан;
- Cuisine Style — стиль или стили, к которым можно отнести блюда, предлагаемые в ресторане;
- Ranking — место, которое занимает данный ресторан среди всех ресторанов своего города;
- Rating — рейтинг ресторана по данным TripAdvisor (именно это значение должна будет предсказывать модель);
- Price Range — диапазон цен в ресторане;
- Number of Reviews — количество отзывов о ресторане;
- Reviews — данные о двух отзывах, которые отображаются на сайте ресторана;
- URL_TA — URL страницы ресторана на TripAdvosor;
- ID_TA — идентификатор ресторана в базе данных TripAdvisor.

## ТРЕНИРОВКА
Давайте попробуем загрузить датасет и ознакомиться с данными, форматами и особенностями хранения информации в файле. Ответы на вопросы ниже помогут вам лучше сориентироваться в файле, а также покажут некоторые важные особенности, которые нужно будет учесть при создании модели.

In [1]:
import pandas as pd
df = pd.read_csv('data/main_task.csv')
df.head()

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963

In [2]:
df.loc[(df['City']=='Stockholm') & 
       (df['Cuisine Style'].isna()) &
       (df['Price Range'].isna()) &
       (df['Number of Reviews'].isna())
      ]
city = 'Stockholm'
df.loc[(df['City']==city) & 
   ((df['Ranking']==df.loc[(df['City']==city)].Ranking.min()) |
    ((df.loc[(df['City']==city)].Ranking.mean()-5 <= df['Ranking']) &
     (df['Ranking'] <= df.loc[(df['City']==city)].Ranking.mean()+5)) |
    (df['Ranking']==df.loc[(df['City']==city)].Ranking.max()))
  ]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
9826,id_1246,Stockholm,['Indian'],1247.0,4.5,$$ - $$$,21.0,"[['Great tasting food', 'Very good!'], ['07/09...",/Restaurant_Review-g189852-d2048996-Reviews-Ra...,d2048996
12803,id_0,Stockholm,"['European', 'Swedish', 'Scandinavian', 'Veget...",1.0,4.5,$$ - $$$,165.0,"[['Fantastic Dinner', '30th birthday feast'], ...",/Restaurant_Review-g189852-d7345323-Reviews-Ad...,d7345323
15290,id_2459,Stockholm,NaN,2464.0,1.0,NaN,NaN,"[[], []]",/Restaurant_Review-g189852-d7133658-Reviews-Sk...,d7133658
29591,id_1241,Stockholm,NaN,1242.0,4.0,NaN,6.0,"[['Pleasant...', 'Traditional Swedish menu'], ...",/Restaurant_Review-g189852-d11841511-Reviews-R...,d11841511
35142,id_1239,Stockholm,NaN,1240.0,4.0,NaN,12.0,"[['Terrible food', 'OK'], ['08/15/2015', '05/2...",/Restaurant_Review-g189852-d5953104-Reviews-Pa...,d5953104

In [3]:
df.loc[df['City']=='Stockholm'].Ranking.value_counts(bins=3)

(1643.0, 2464.0]    290
(-1.464, 822.0]     276
(822.0, 1643.0]     254
Name: Ranking, dtype: int64

In [4]:
df.iloc[15290]

Restaurant_id                                                  id_2459
City                                                         Stockholm
Cuisine Style                                                      NaN
Ranking                                                           2464
Rating                                                               1
Price Range                                                        NaN
Number of Reviews                                                  NaN
Reviews                                                       [[], []]
URL_TA               /Restaurant_Review-g189852-d7133658-Reviews-Sk...
ID_TA                                                         d7133658
Name: 15290, dtype: object

In [5]:
city = 'Paris'
df.loc[(df['City']==city) & 
   ((df['Ranking']==df.loc[(df['City']==city)].Ranking.min()) |
    ((df.loc[(df['City']==city)].Ranking.mean()-5 <= df['Ranking']) &
     (df['Ranking'] <= df.loc[(df['City']==city)].Ranking.mean()+5)) |
   (df['Ranking']==df.loc[(df['City']==city)].Ranking.max()))
  ]

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
13446,id_2,Paris,"['French', 'European', 'Contemporary']",3.0,5.0,$$$$,427.0,"[['Second time and just as good', 'Best dinner...",/Restaurant_Review-g187147-d9806534-Reviews-AS...,d9806534
17304,id_13978,Paris,['French'],13986.0,1.0,NaN,NaN,"[[], []]",/Restaurant_Review-g187147-d719135-Reviews-Le_...,d719135
20993,id_6933,Paris,['Vietnamese'],6934.0,4.0,$,23.0,"[['Lovely dose of Vietnamese food', 'Nice ambi...",/Restaurant_Review-g187147-d8636407-Reviews-Ph...,d8636407
35252,id_6929,Paris,['French'],6930.0,4.5,$$$$,11.0,"[['Meeting', 'Great venue for celebration.'], ...",/Restaurant_Review-g187147-d7913616-Reviews-Pa...,d7913616
37285,id_6936,Paris,"['French', 'European', 'Spanish', 'Vegetarian ...",6937.0,3.5,$$ - $$$,189.0,"[['mixed platter - asian fusion', 'Great for l...",/Restaurant_Review-g187147-d796610-Reviews-Lit...,d796610

### 1.1.1 Задание 1
Какие столбцы НЕ содержат пропущенных (None) значений?

In [6]:
#df.loc[df['ID_TA'].isna()]
df.info()
#содержат пропущенных (None) значений - для ответа надо инвертировать
#Cuisine Style
#Price Range
#Number of Reviews

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          26114 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

### 1.1.2 Задание 2
В каких столбцах данные хранятся в числовом формате?

In [7]:
#df.info()
#Ranking
#Rating
#Number of Reviews

### 1.1.3 Задание 3
В каких столбцах хранящиеся данные представляют собой список?

In [8]:
type(df['Reviews'].iloc[0])
#c = df['Reviews'].iloc[0]
#type(c)
#ни в одном из перечисленных

str

## 1.2. Машинное обучение для чайников

### Что нужно сделать на этом шаге?
Создать свою первую модель, основанную на алгоритмах машинного обучения. Код для создания модели мы предоставим, но чтобы модель заработала, в неё нужно загрузить правильные данные. Приведение данных в нужный вид и будет вашей задачей. 
### Сколько времени мы рекомендуем потратить на этот шаг?
2 дня.

### Алиса, это пудинг. Пудинг, это Алиса
Ну что же, настал момент истины. Сейчас вы попробуете создать свою первую модель, работающую на основе одного из довольно мощных алгоритмов машинного обучения — RandomForestRegression.

Ноутбук с кодом для создания, обучения и тестирования модели можно скачать здесь. 

Давайте вкратце ознакомимся с тем, что будет происходить с вашими данными после их загрузки в датафрейм:

### Разделение датафрейма
Прежде всего для создания модели необходимо разделить датафрейм на набор данных, которые мы будем использовать для обучения модели (X), и на целевую переменную, т.е. величину, значение которой мы будем предсказывать (y).

Далее каждый из полученных наборов мы делим на тренировочный (train, используется для обучения модели) и тестовый (test, используется для оценки точности модели).  Такое деление осуществляется с помощью специального метода, входящего в состав библиотеки Scikit-Learn (sklearn). В параметрах метода мы указываем, какую часть исходного датафрейма нужно оставить для тестирования модели. В нашем коде эта часть составляет 25% или 0.25.

In [9]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)  
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)  
y = df['Rating']  
  
# Загружаем специальный инструмент для разбивки:  
from sklearn.model_selection import train_test_split  
  
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

### Создание, обучение и тестирование модели
Сам процесс создания и тестирования модели занимает всего четыре строчки кода (при условии, что мы используем параметры по умолчанию):

In [10]:
# Импортируем необходимые библиотеки:  
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели  
  
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
  
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
  
# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

ValueError: could not convert string to float: 'Prague'

Попробуйте запустить этот код. Что происходит? Мы видим сообщение об ошибке ValueError. Что-то явно пошло не по плану... Давайте попробуем разобраться в причинах произошедшего.

### В цифровом качестве
Итак, мы выяснили, что для корректной работы все данные в датафрейме, который вы будете использовать при обучении модели, должны быть в форматах int или float. Есть и ещё одно жёсткое ограничение: в столбцах не должно быть None-значений. В реальных проектах в индустрии используются разные подходы к работе с None-значениями. Если позволяют условия, то строки, содержащие неполные данные, просто удаляют из датасета. Однако в задачах по машинному обучению эта стратегия не используется никогда, потому что настоящие герои никогда не ищут лёгких путей :). Вместо каждого NaN вам нужно будет вычислить и поместить в ячейку максимально близкое к реальности значение.

Таким образом, чтобы код, отвечающий за обучение модели, заработал, мы должны использовать в нём датафрейм, содержащий только количественные признаки и не содержащий None-значений. На первом этапе для создания такого датафрейма давайте просто удалим столбцы, содержащие данные типа object, и заполним пропущенные значения (None или NaN) каким-то одним значением (нулём или средним арифметическим) для  всего столбца.

### Для выполнения этих операций вам понадобятся следующие методы библиотеки Pandas:

- drop — метод для удаления ненужных строк и столбцов (обратите внимание, что в материалах данного модуля метод разрешается использовать только для удаления столбцов);

- fillna — метод для заполнения пропущенных значений в столбце или во всём датафрейме.

#### После выполнения всех преобразований попробуйте заново запустить код, уже с очищенными данными.

In [11]:
#Удалим для X все нечисловые колонки
X = df.drop(['Restaurant_id','City', 'Cuisine Style', 'Price Range', 
             'Reviews','URL_TA','ID_TA','Rating'], axis=1)
X.info()

#Заполним пропуски среднеарифметич.знач.
X['Number of Reviews'] = X['Number of Reviews'].fillna(X['Number of Reviews'].mean())
X
X.info()

y.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
Ranking              40000 non-null float64
Number of Reviews    37457 non-null float64
dtypes: float64(2)
memory usage: 625.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 2 columns):
Ranking              40000 non-null float64
Number of Reviews    40000 non-null float64
dtypes: float64(2)
memory usage: 625.1 KB

4.0    13692
4.5    10929
3.5     6824
5.0     3879
3.0     2955
2.5      915
2.0      466
1.0      201
1.5      139
Name: Rating, dtype: int64

In [12]:
#Повторим действия кроме импорта библиотек

# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
  
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
  
# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

### Как узнать, что моя модель хорошая?
Прежде всего давайте скажем, что ваша модель в любом случае отличная, потому что она умеет обрабатывать данные и делать прогнозы по результатам этой обработки. Другой вопрос, насколько точны эти прогнозы и можно ли как-то управлять точностью предсказаний?

Для оценки точности прогнозов, сделанных моделью, мы будем использовать метрику (показатель), которая называется Mean Absolute Error, и представляет собой среднее абсолютное значение отклонения предсказанных значений от фактических:

![alt text](pic/DST_th1_MAE.png "Title")

Иными словами, если у вас получился результат MAE = 0.5, то это значит, что модель при расчёте рейтинга ошибается в среднем на 0.5 баллов. 

В последней ячейке ноутбука, который вы скачали, прилагается код для расчёта MAE:

In [13]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются  
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.  
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.4322717847222222

#### Попробуйте применить этот код для вычисления MAE вашей модели. Какой результат у вас получился?

Автору этого модуля удалось очистить данные таким образом, что модель отработала с точностью MAE = 0.21. Как приблизиться к этому результату и по возможности улучшить его? Об этом вы узнаете на следующем шаге.

### "Допиливание" модели см. в "RDS01-model01-..."

## 1.3. Сделайте с этим что-нибудь!

### Что нужно сделать на этом шаге?
Повысить точность прогнозов, которые делает модель, с помощью более тщательной подготовки данных. При подготовке датасета нужно будет не только избавиться от пропущенных (None) значений и нечисловых признаков, но и сгенерировать новые признаки (добавить в датафрейм новые столбцы) на основе информации, уже содержащейся в данных.

### Сколько времени мы рекомендуем потратить на этот шаг?
1 неделя.

### А что делать-то?
С одной стороны, всё просто. Задачу, которая стоит перед вами, можно свести к трём пунктам:
1. Удалить из датафрейма столбцы, данные в которых представлены не числами (это вы уже сделали, и нужно просто повторить знакомые действия, но в этот раз выполнить данный шаг в последнюю очередь).
2. Избавиться от пропущенных (None) значений (на предыдущем шаге мы делали это самым грубым из всех возможных способов; сейчас попробуем подойти к процессу более гибко).
3. Создать новые столбцы с данными, используя для этого информацию, содержащуюся в других столбцах датафрейма (например, можно добавить столбец, сообщающий, сколько дней прошло со дня публикации последнего отзыва, отображённого на сайте).

С другой стороны, в этом задании масса подводных камней.

### Строковые данные
В исходном наборе данных всего три столбца содержат числовые данные, причём один из этих столбцов — это целевая переменная, значение которой должна предсказывать наша модель. Так что просто удалить все object-значения и считать задачу выполненной не получится. Для создания качественной модели нам сначала придётся очень основательно поработать со строковыми данными и извлечь из них как можно больше информации, которую можно представить в числовом виде.

### Пропущенные значения
Мы уже говорили о том, что в задачах по машинному обучению принято не удалять строки с пустыми значениями, а заполнять их максимально близкими к реальности данными. Как найти такие данные — большой вопрос, требующий не только знания синтаксиса, но и креативности, изобретательности, хорошего понимания контента, а иногда ещё и интуиции.

### Новые признаки
Это, пожалуй, самая сложная, но и самая интригующая, увлекательная и творческая часть работы на данном шаге. Создание новых признаков (Feature Engineering) потребует от вас не только хорошего владения разными библиотеками Python, но и способность вникать в контент, умение подключать к работе интуицию, творческий подход и готовность к экспериментам.

Попробуем?

### Подсказки без подсказок
По условию нашего курса при выполнении этого задания у каждого студента должен получиться свой уникальный датафрейм, содержащий уникальный набор признаков. Иными словами, мы не стремимся привести всех к единому результату и одинаковому, "единственно правильному" набору признаков. В то же время у нас есть определённое представление о том, какие признаки точно можно сгенерировать на основе набора данных, который вы получили для работы.

Ниже мы разместили несколько вопросов, для ответов на которые вам нужно будет создать столбцы с теми самыми числовыми признаками, которые в дальнейшем могут быть полезны при обучении модели. Попробуйте начать работу с поиска ответов на эти вопросы, но постарайтесь на этом не ограничиваться. 

### Полезные методы
Для удобства мы также предлагаем вам список ссылок на методы, которые наверняка понадобятся при работе с данными:
- Библиотека Pandas
 - drop — метод для удаления ненужных строк и столбцов (обратите внимание, что в материалах данного модуля метод разрешается использовать только для удаления столбцов);
 - fillna — метод для заполнения пропущенных значений в столбце или во всём датафрейме;
 - isnull — функция, позволяющая определить, содержит ли переменная или структура данных, переданная в качестве параметра, None-значения;
 - apply — метод, позволяющий применить заданную функцию ко всему датафрейму или к отдельному столбцу;
 - pd.Series — конструктор для создания объекта Series (может пригодиться для одновременного заполнения нескольких новых столбцов);
 - unique — метод для получения всех уникальных значений, встречающихся в заданном столбце.
- Дополнительные модули:
 - datetime — модуль для работы с датой и временем;
 - re — модуль для работу с регулярными выражениями.

### 1.3.1 Вопросы о ценах
#### Сколько вариантов непустых значений встречается в столбце Price Range?
#3

In [14]:
#df.info()
df['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

#### Как в датафрейме обозначается самый низкий уровень цен?
#$

#### Как в датафрейме обозначается самый высокий уровень цен?

In [15]:
#$$$$

#### Сколько ресторанов относятся к среднему ценовому сегменту?
#18412

### 1.3.2 Вопросы о городах
#### Сколько городов представлено в наборе данных?
#31

In [16]:
df.City.unique()

array(['Paris', 'Stockholm', 'London', 'Berlin', 'Munich', 'Oporto',
       'Milan', 'Bratislava', 'Vienna', 'Rome', 'Barcelona', 'Madrid',
       'Dublin', 'Brussels', 'Zurich', 'Warsaw', 'Budapest', 'Copenhagen',
       'Amsterdam', 'Lyon', 'Hamburg', 'Lisbon', 'Prague', 'Oslo',
       'Helsinki', 'Edinburgh', 'Geneva', 'Ljubljana', 'Athens',
       'Luxembourg', 'Krakow'], dtype=object)

In [17]:
len(df.City.unique())

31

#### Сколько ресторанов расположены в столичных городах?
#30424
###### Необходимо создать новый признак Capital = 0/1

In [18]:
df.Restaurant_id.count() #ресторанов всего 40000
df.groupby((df['City']=='Munich') | (df['City']=='Oporto') | (df['City']=='Milan') | 
           (df['City']=='Barcelona') | (df['City']=='Zurich') | (df['City']=='Lyon') | 
           (df['City']=='Hamburg') | (df['City']=='Geneva') | (df['City']=='Krakow')).Restaurant_id.count()

City
False    30424
True      9576
Name: Restaurant_id, dtype: int64

### 1.3.3 Вопросы о кухнях
#### Сколько типов кухонь представлено в наборе данных?
#125

In [19]:
#найдем уникальные вхождения
ListCuisineStyle = []
df['Qnty_CS'] = 0 #для нового признака
idx = -1

#ouf = open('data/CuisineStyle.csv', 'w')

for v in df['Cuisine Style'].apply(lambda x: str(x).strip('[]')):
    idx += 1
    
    if pd.isna(str(v)) or str(v).lower() == 'nan':
        df['Qnty_CS'].iloc[idx] = 1
    elif ',' not in v:
        df['Qnty_CS'].iloc[idx] = 1
        s = v.strip()
        s = s.strip("'")
        #ouf.write(s+',1\n')
        if s not in ListCuisineStyle:
            ListCuisineStyle += [s]
    else:
        for cs in v.split(','):
            df['Qnty_CS'].iloc[idx] += 1
            s = cs.strip()
            s = s.strip("'")
            #ouf.write(s+',2\n')
            if s not in ListCuisineStyle:
                ListCuisineStyle += [s]
#     if idx > 5:
#         break

#ouf.close()

ListCuisineStyle.sort()
#ListCuisineStyle
#df.head()

C:\Users\OKiselev\Miniconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [20]:
len(ListCuisineStyle)
#125
#ListCuisineStyle

125

In [21]:
df.info() #30717
df['Cuisine Style'].nunique() #9007

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 11 columns):
Restaurant_id        40000 non-null object
City                 40000 non-null object
Cuisine Style        30717 non-null object
Ranking              40000 non-null float64
Rating               40000 non-null float64
Price Range          26114 non-null object
Number of Reviews    37457 non-null float64
Reviews              40000 non-null object
URL_TA               40000 non-null object
ID_TA                40000 non-null object
Qnty_CS              40000 non-null int64
dtypes: float64(3), int64(1), object(7)
memory usage: 3.4+ MB

9007

#### Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов
#Vegetarian Friendly

In [22]:
d = {}
cnt = 0
for key in ListCuisineStyle:
    d[key] = 0
    #print('key =',key)
    for s in df['Cuisine Style']:
        cnt += 1
        if key in str(s):
            d[key] +=1

In [23]:
df1 = pd.DataFrame([d], columns=d.keys()).T
df1.columns = ['cnt']
df1.loc[df1.cnt == df1.cnt.max()]
#Vegetarian Friendly

                       cnt
Vegetarian Friendly  11189

#### Сколько типов кухонь предлагается только в одном ресторане? Введите ответ в виде целого числа
#5 - не уверен, что решение я нашел правильно

In [24]:
df1.loc[df1.cnt == 1]

            cnt
Burmese       1
Latvian       1
Salvadoran    1
Xinjiang      1
Yunnan        1

In [25]:
cnt = 0
for v in df.loc[df['Cuisine Style'].notna()]['Cuisine Style']:
    s = str(v)
    if s.find('Salvadoran') > 0 or s.find('Yunnan') > 0 or s.find('Xinjiang') > 0 or s.find('Burmese') > 0 or s.find('Latvian') > 0:
        print(s)
    cnt += 1
#     if cnt > 15:
#         break

['Mexican', 'Latin', 'Salvadoran', 'Central American', 'Spanish']
['Asian', 'Thai', 'Yunnan', 'Vegetarian Friendly', 'Vegan Options']
['Chinese', 'Xinjiang']
['Chinese', 'Asian', 'Thai', 'Burmese']
['Mexican', 'American', 'European', 'Latvian', 'Eastern European', 'Hungarian']

#### Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой
#2.6

In [26]:
df.Qnty_CS.mean()
#2.6

2.6224

### 1.3.4 Вопросы об отзывах
#### Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd
#2018-02-26

In [27]:
import re
import datetime as dt

In [28]:
cnt = 0
t = pd.to_datetime('1900-01-01')
for r in df.loc[df.Reviews != '[[], []]'].Reviews:
    cnt += 1
    lst = re.findall(r'\d\d\/\d\d\/\d{4}', r)
    for d in lst:
        tmp = pd.to_datetime(d)
        if t < tmp:
            t = tmp
#     if cnt > 5:
#         break
print(t)
#2018-02-26

2018-02-26 00:00:00

#### Какое максимальное количество дней отделяет даты публикации отзывов, размещённых на сайте ресторана? Введите количество дней в виде целого числа
#3207

In [29]:
cnt = 0
#Tinf = pd.to_datetime('1900-01-01')
Tdiff = dt.timedelta(days=0)
for r in df.loc[df.Reviews != '[[], []]'].Reviews:
    cnt += 1
    lst = re.findall(r'\d\d\/\d\d\/\d{4}', r)
    if len(lst) == 2:
        t1 = pd.to_datetime(lst[0])
        t2 = pd.to_datetime(lst[1])
        if t1>t2:
            tmp = t1 - t2
        else:
            tmp = t2 - t1
        if Tdiff < tmp:
            Tdiff = tmp
        #print('***',pd.to_datetime(lst[0]),pd.to_datetime(lst[1]))
        #print(tmp,Tdiff)
#     if cnt > 5:
#         break
print(Tdiff)
#3207

3207 days 00:00:00

In [30]:
# Время выполнения раздела 1.3
#02.02.2020 - 2 ч.
#03.02.2020 - 3 ч.
#04.02.2020 - 3 ч.
#05.02.2020 - 0.5 ч.
#07.02.2020 - 0.5 ч.
#08.02.2020 - 5 ч.
#09.02.2020 - 3 ч.

#Сложности: 
# 1. В целом алгоритм поиска кол-ва типов кухонь был правильный, но закралась ошибка
# 2. Пока сложности с пониманием как решать "Сколько типов кухонь предлагается только в одном ресторане". 
#    Задачу решил, но не уверен, что решение правильное. Возможно просто угадал

## 1.4. И снова о чайниках

### Организационная информация
#### Что нужно сделать на этом шаге?
Добавить в датафрейм несколько столбцов, содержащих данные особого типа — dummy variables, или фиктивные переменные. Подобрать такую комбинацию столбцов, которая повысит точность прогноза, сделанного моделью.
#### Сколько времени мы рекомендуем потратить на этот шаг?
4 дня.

В этом блоке мы рассмотрим один из приёмов, который часто используется в машинном обучении для перевода категориальных значений в числовые. Под категориальным значением мы будем понимать признак, значения которого означают принадлежность объекта к одной или нескольким категориям. Например, марка автомобиля (одна категория), цвет или цвета (одна или несколько категорий).

Начинающие исследователи данных при работе с такими признаками часто совершают ошибку, просто заменяя определённые строковые значения признака числовыми показателями. Например, присваивают красному цвету код "1", зелёному — "2", жёлтому — "3" и т.д. Такой подход неверен, так как он предполагает, что объекты красного цвета обладают меньшим значением признака "цвет" по сравнению с зелёными и особенно — жёлтыми, что неверно по сути.

Вторая проблема возникает в ситуации, когда в объекте встречается несколько цветов, например, красный и жёлтый. Какое число может выразить цвет такого объекта? Среднее арифметическое между «красным» и «жёлтым»? То есть объекты, в которых присутствуют красный и жёлтый цвета, на самом деле зелёные :)? Конечно же это не так.

### А что делать?
Для перевода категориальных признаков в числовые в машинном обучении довольно часто используется концепция, называемая dummy variables. Суть концепции заключается в том, что для каждой категории признака (в нашем примере — для каждого цвета) создаётся отдельная переменная, которая может быть равна единице, если объект содержит данный цвет и нулю — если нет. Датафрейм с данными о цветах в этом случае нужно было бы преобразовать следующим образом:

![alt_image](pic/DST_th1_dummy.png)

Как вы думаете, есть ли в нашем наборе данных показатели, на основе которых можно было бы создать dummy variables?

#### Попробуйте поэкспериментировать с этой концепцией и оценить, как ваши эсперименты повлияют на итоговый результат.

### Вторая попытка
Итак, теперь у вас в руках есть немало полезных инструментов и ценных знаний, и настало время экспериментов. Попробуйте "поиграть" с имеющимися в вашем распоряжении данными:
- добавляйте и удаляйте столбцы с признаками;
- попробуйте использовать разные способы представления информации об одном и том же признаке (да-да, такое тоже возможно!);
- используйте дополнительные источники информации о городах и странах, в которых расположены рестораны, чтобы лучше охарактеризовать среду, в которой находится ресторан.

#### Помните, ваша главная задача — добиться максимальной точности модели, которая предсказывает рейтинг ресторана. После завершения экспериментов свяжитесь с вашим ментором и предоставьте свой код для проверки и обратной связи.

Удачи вам! Вы отлично поработали на этом этапе!

In [31]:
# Время выполнения раздела 1.4
#10.02.2020 - 1 ч.
#11.02.2020 - 2 ч.
#12.02.2020 - 2 ч.
#16.02.2020 - 4 ч.
#17.02.2020 - 4 ч.

## 1.5. Kaggle. Начало

### Организационная информация
Что нужно будет сделать на этом шаге?
- Очистить ещё один (вот этот) датасет с помощью ранее созданного вами кода.
- Предсказать рейтинги ресторанов, описанных в полученном вами датафрейме, с помощью модели, которую вы обучили на предыдущем этапе.
- Загрузить предсказанные рейтинги на Kaggle.com и победить в соревновании.

Сколько времени мы рекомендуем потратить на этот шаг?

1 неделя.

### Что такое Kaggle и нужен ли он мне?
Kaggle — это платформа для соревнований по машинному обучению. Часть соревнований, представленных на платформе, рассчитаны на новичков, часть — на очень серьёзных профессионалов. Соревнования для профессионалов часто имеют очень существенный призовой фонд (несколько десятков тысяч долларов), и этим они привлекают большое количество участников. В июне 2017 года количество зарегистрированных на платформе участников превысило 1 000 000 человек, и в настоящее время kaggle.com является самым большим в мире сообществом специалистов в области Data Science

Официальный слоган платформы — «Ваш дом для Data Science». Помимо соревнований, вы можете найти здесь более 19 000 датасетов на самые разные темы и более 200 000 ноутбуков с кодами по очистке данных и созданию моделей. Это очень ценный ресурс, с помощью которого можно углублять свои знания, знакомиться с лучшими практиками обработки данных и расширять сеть профессиональных контактов. Также на платформе есть раздел, содержащий учебные материалы по Data Science (Courses), площадка для обсуждений (Discussion), раздел с объявлениями о работе (Jobs).

Ещё один очень интересный раздел — Notebooks (другое название — Kaggle Kernels). Это своеобразная онлайн-среда для программирования, работающая на серверах Kaggle. В данном разделе можно писать собственные скрипты на Python (или другом языке для работы с данными, R), что очень удобно для тестирования кода: не нужно настраивать среду у себя на компьютере. имеется возможность скопировать или изменить уже существующий ноутбук другого пользователя, а также поделиться своим, чтобы его смогли оценить остальные.

Наличие портфолио и определённого рейтинга на Kaggle часто является дополнительным плюсом в глазах работодателей, т.к. показывает, что вы имеете опыт решения задач по анализу данных и машинному обучению, общаетесь с профессионалами и стараетесь быть в курсе актуальной информации, касающейся развития науки о данных.

### Что мы будем делать на Kaggle?
В нашем курсе (да и во всей специализации) мы будем использовать площадку Kaggle для проведения соревнований по машинному обучению. Да-да, мы помним, что вы ещё не начали изучение машинного обучения. Но ведь код для создания модели у вас уже есть? Значит, вы вполне можете представить свою первую модель на конкурс.

Итак, давайте рассмотрим последовательность действий, которые вам предстоит совершить:

1. Прежде всего, вам необходимо зарегистрироваться на платформе. Для этого пройдите по ссылке https://www.kaggle.com, выберите подходящий для вас способ регистрации и введите необходимые данные.
2. Теперь вы можете принимать участие во всех соревнованиях, которые проводятся на платформе, скачивать датасеты, смотреть публикации участников сообщества и делать много других интересных вещей, составляющих досуг стандартного представителя славной профессии Data Science. 
3. Настало время для участия в вашем первом соревновании. Вам необходимо пройти по этой ссылке, ознакомиться с правилами и принять их (вкладка Rules).
4. Теперь можно скачать данные (вкладка Data), если вы ещё не успели воспользоваться ссылками (этой и этой) на учебной платформе. Файл main_task.csv содержит данные, с которыми вы уже успели поработать. Теперь вы можете не делить этот файл на тестовый и тренировочный сеты, а использовать его для обучения модели целиком. Файл kaggle_task.csv содержит данные о 10 000 новых ресторанах, но в этом файле нет информации о том, у какого ресторана какой рейтинг. Предсказание этих рейтингов и будет вашим заданием в соревновании на Kaggle.

### Формат ответа
Вам необходимо выполнить очистку данных, содержащихся в файле kaggle_task.csv, используя код, который вы уже разработали на предыдущем этапе работы. Обратите внимание, что структура файла, полученного при очистке  main_task.csv должна быть в точности такой же, как и структура нового файла (за исключением столбца с рейтингом ресторана). Также обратите внимание, что по правилам соревнования вы не можете удалять строки из файла kaggle_task.csv. Вы должны предсказать рейтинг всех 10 000 ресторанов, включенных в набор данных. 

После выполнения очистки данных вам нужно обучить модель, используя все данные из основного файла. Подумайте самостоятельно, что в этом случае нужно поместить в структуры X_train и y_train. После обучения модели вы должны предсказать рейтинги ресторанов, данные о которых содержатся в файле kaggle_task.csv.

Теперь наступает самый ответственный момент: загрузка вашего решения на Kaggle. Вам нужно создать отдельный датафрейм, содержащий только два столбца: 'Restaurant_id' и 'Rating'. Этот датафрейм нужно сохранить в отдельном csv-файле и загрузить на платформу, воспользовавшись кнопкой "Submit Predictions" и разделом "My Submissions". Для сохранения файла вы можете воспользоваться следующим кодом (предполагается, что датафрейм с данными называется df, а файл с решением будет носить имя solution.csv):

df.to_csv('solution.csv', index = False)

Если полученный результат  вас не устраивает, вы можете совершить ещё несколько попыток. При достижении более высокого результата ваше место в рейтинге повысится. Однако помните, что при получении несколькими участниками одинаковых результатов выше в рейтинговой таблице будет тот, кому для достижения этого результата потребовалось меньше попыток.

Итак, мы почти завершили работу. Осталось только загрузить ваше решение в раздел "Notebooks", чтобы с ним могли ознакомиться остальные участники и ментор. Теперь вы стали полноправным членом сообщества Data Scientist'ов! Поздравляем!

In [2]:
#19.02.2020 2 ч.
#20.02.2020 4 ч.
#22.02.2020 2 ч.
#24.02.2020 8 ч.
#25.02.2020 1 ч.

## 1.6. Что это было?