# Загрузка Pandas и очистка данных

In [491]:
# Импорт необходимых библиотек
import pandas as pd
import re
import datetime as dt

In [492]:
df = pd.read_csv('data/main_task.csv')

In [493]:
def prn_info(p_col):
    global df
    print('    *** value_counts of ['+p_col+']:')
    print(df[p_col].value_counts())
    print('    ***    rows qnty of ['+p_col+']:',df[p_col].value_counts().sum())

## ===== Генерация новых признаков

## //--> *** Цены

### Новый признак ['newPriceLevel'] - кодировка уровня цен в ресторане (0=min / 1=middle / 2=max)

In [494]:
df['newPriceLevel'] = 0
df.loc[df['Price Range'].isna(), ['newPriceLevel']] = -1 #переопределение ниже
df.loc[df['Price Range'] == '$', ['newPriceLevel']] = 0
df.loc[df['Price Range'] == '$$ - $$$', ['newPriceLevel']] = 1
df.loc[df['Price Range'] == '$$$$', ['newPriceLevel']] = 2

prn_info('Price Range')
prn_info('newPriceLevel')

    *** value_counts of [Price Range]:
$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64
    ***    rows qnty of [Price Range]: 26114
    *** value_counts of [newPriceLevel]:
 1    18412
-1    13886
 0     6279
 2     1423
Name: newPriceLevel, dtype: int64
    ***    rows qnty of [newPriceLevel]: 40000

## *** <--//

## //--> *** Города

### Новый признак ['newIsCapital'] - является ли город нахождения ресторана столицей (1=Да / 0=Нет)

In [495]:
df['newIsCapital'] = None
df['newIsCapital'] = df['newIsCapital'].fillna(1) #сначала записываем везде 1
#теперь определяем НЕстолицы:
df['newIsCapital'].loc[(df['City']=='Munich') | (df['City']=='Oporto') | (df['City']=='Milan') | 
           (df['City']=='Barcelona') | (df['City']=='Zurich') | (df['City']=='Lyon') | 
           (df['City']=='Hamburg') | (df['City']=='Geneva') | (df['City']=='Krakow')] = 0

prn_info('newIsCapital')

    *** value_counts of [newIsCapital]:
1    30424
0     9576
Name: newIsCapital, dtype: int64
    ***    rows qnty of [newIsCapital]: 40000

C:\Users\OKiselev\Miniconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

## *** <--//

## //--> *** Кухни

### Новый признак ['newQntyCS'] - кол-во представленных в ресторане кухонь

In [496]:
df['newQntyCS'] = 0 #для нового признака
idx = -1

for v in df['Cuisine Style'].apply(lambda x: str(x).strip('[]')):
    idx += 1
    if pd.isna(str(v)) or str(v).lower() == 'nan':
        df['newQntyCS'].iloc[idx] = 1
    elif ',' not in v:
        df['newQntyCS'].iloc[idx] = 1
    else:
        for cs in v.split(','):
            df['newQntyCS'].iloc[idx] += 1
            
prn_info('Cuisine Style')
prn_info('newQntyCS')

    *** value_counts of [Cuisine Style]:
['Italian']                                                                                                                1032
['French']                                                                                                                  805
['Spanish']                                                                                                                 695
['French', 'European']                                                                                                      405
['Cafe']                                                                                                                    403
                                                                                                                           ...
['Asian', 'Thai', 'Malaysian', 'Vegetarian Friendly', 'Gluten Free Options']                                                  1
['European', 'Thai']                                                                                                          1
['European', 'Healthy']                                                                                                       1
['Fast Food', 'Asian', 'Healthy', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']                              1
['Italian', 'Seafood', 'Mediterranean', 'International', 'Vegan Options', 'Vegetarian Friendly', 'Gluten Free Options']       1
Name: Cuisine Style, Length: 9007, dtype: int64
    ***    rows qnty of [Cuisine Style]: 30717
    *** value_counts of [newQntyCS]:
1     16547
2      6294
3      5306
4      4799
5      3606
6      2043
7      1022
8       283
9        76
10       19
11        3
21        1
13        1
Name: newQntyCS, dtype: int64
    ***    rows qnty of [newQntyCS]: 40000

### Новые признаки ['newQntyCS01-05'], ['newQntyCS06-10'], ['newQntyCS10-15'], ['newQntyCS16-20'], ['newQntyCSgrt20']:
 - разбить по колонкам "Кол-во от 1 до 5", "Кол-во от 6 до 10", "Кол-во от 11 до 15", "Кол-во от 16 до 20", "Кол-во более 20"

In [497]:
df['newIsQntyCS01-05'] = 0
df['newIsQntyCS06-10'] = 0
df['newIsQntyCS11-15'] = 0
df['newIsQntyCSgrt15'] = 0
idx = -1

for v in df['newQntyCS']:
    idx += 1
#     if idx>5:
#         break
    #print(v)
    if 1 <= v <= 5:
        df['newIsQntyCS01-05'].iloc[idx] = 1
    elif 6 <= v <= 10:
        df['newIsQntyCS06-10'].iloc[idx] = 1
    elif 11 <= v <= 15:
        df['newIsQntyCS11-15'].iloc[idx] = 1
    elif 16 <= v:
        df['newIsQntyCSgrt15'].iloc[idx] = 1
    
prn_info('newIsQntyCS01-05')
prn_info('newIsQntyCS06-10')
prn_info('newIsQntyCS11-15')
prn_info('newIsQntyCSgrt15')

    *** value_counts of [newIsQntyCS01-05]:
1    36552
0     3448
Name: newIsQntyCS01-05, dtype: int64
    ***    rows qnty of [newIsQntyCS01-05]: 40000
    *** value_counts of [newIsQntyCS06-10]:
0    36557
1     3443
Name: newIsQntyCS06-10, dtype: int64
    ***    rows qnty of [newIsQntyCS06-10]: 40000
    *** value_counts of [newIsQntyCS11-15]:
0    39996
1        4
Name: newIsQntyCS11-15, dtype: int64
    ***    rows qnty of [newIsQntyCS11-15]: 40000
    *** value_counts of [newIsQntyCSgrt15]:
0    39999
1        1
Name: newIsQntyCSgrt15, dtype: int64
    ***    rows qnty of [newIsQntyCSgrt15]: 40000

### Новый признак ['newIsUniqueCS'] - присутствует ли в ресторане тип кухни в единственном экземпляре среди всех ресторанов (1=Да / 0=Нет)

In [498]:
df['newIsUniqueCS'] = 0 #для нового признака
# Ручное заполнение

# Список кухонь, встречающихся по 1 разу:
# ['Mexican', 'Latin', 'Salvadoran', 'Central American', 'Spanish']
# ['Asian', 'Thai', 'Yunnan', 'Vegetarian Friendly', 'Vegan Options']
# ['Chinese', 'Xinjiang']
# ['Chinese', 'Asian', 'Thai', 'Burmese']
# ['Mexican', 'American', 'European', 'Latvian', 'Eastern European', 'Hungarian']

idxList = df.index[(df['Cuisine Style'] == 
   "['Mexican', 'Latin', 'Salvadoran', 'Central American', 'Spanish']") |
   (df['Cuisine Style'] == 
    "['Asian', 'Thai', 'Yunnan', 'Vegetarian Friendly', 'Vegan Options']") |
   (df['Cuisine Style'] == "['Chinese', 'Xinjiang']") |
   (df['Cuisine Style'] == "['Chinese', 'Asian', 'Thai', 'Burmese']") |
   (df['Cuisine Style'] == 
    "['Mexican', 'American', 'European', 'Latvian', 'Eastern European', 'Hungarian']")
      ].to_list()
df.newIsUniqueCS.iloc[idxList] = 1

prn_info('newIsUniqueCS')

    *** value_counts of [newIsUniqueCS]:
0    39995
1        5
Name: newIsUniqueCS, dtype: int64
    ***    rows qnty of [newIsUniqueCS]: 40000

## *** <--//

## //--> *** Отзывы

### Новый признак ['newQntyLastReview'] - кол-во свежих отзывов (0=Нет отзывов / 1 / 2)
# ---
### Новый признак ['newIsPositiveRev']
 - newIsPositiveRev - явно позитивный отзыв (1=Да / 0=Нет)

# ---
### Новые признаки ['newLastRevYear'], ['newLastRevMonth'], ['newLastRevDofM'], ['newLastRevDofW']
 - самый свежий отзыв: год, месяц, день месяца, день недели, час суток, когда оставлен отзыв

In [499]:
df['newQntyLastReview'] = 0
df['newIsPositiveRev'] = 0
df['newLastRevYear'] = 1900
df['newLastRevMonth'] = 1
df['newLastRevDofM'] = 1
df['newLastRevDofW'] = 1

cnt = 0
idxList = df.index[df['Reviews'] != '[[], []]'].to_list()
for idx in idxList:
    cnt += 1
#     if cnt>5:
#         break
    
    #newQntyLastReview
    lst = re.findall(r'\d\d\/\d\d\/\d{4}', df['Reviews'].iloc[idx])
    df['newQntyLastReview'].iloc[idx] = len(lst)

    #newLastRevYear, newLastRevMonth, newLastRevDofM, newLastRevDofW
    t = None
    if len(lst) == 1:
        t = pd.to_datetime(lst[0])
    elif len(lst) == 2:
        t1 = pd.to_datetime(lst[0])
        t2 = pd.to_datetime(lst[1])
        if t1>t2:
            t = t1
        else:
            t = t2
    if not pd.isnull(t):
        #print(t, ',', t.hour)
        df['newLastRevYear'].iloc[idx] = t.year
        df['newLastRevMonth'].iloc[idx] = t.month
        df['newLastRevDofM'].iloc[idx] = t.day
        df['newLastRevDofW'].iloc[idx] = t.weekday()
    
    #newIsPositiveRev
    lst = re.findall(r'good|delic|lovin|wonderf|awesom|best', str(df['Reviews'].iloc[idx]).lower())
    if len(lst) > 0:
         df['newIsPositiveRev'].iloc[idx] = 1

prn_info('Reviews')
prn_info('newQntyLastReview')
prn_info('newIsPositiveRev')
prn_info('newLastRevYear')
prn_info('newLastRevMonth')
prn_info('newLastRevDofM')
prn_info('newLastRevDofW')

    *** value_counts of [Reviews]:
[[], []]                                                                                                                              6471
[['Very good all around', 'Our first Madrid restaurant'], ['11/20/2017', '10/11/2017']]                                                  2
[['The real codido madrileño'], ['03/31/2017']]                                                                                          2
[['Whenever in Madrid, we never miss this gem...', 'Underrated sushi restaurant with very good...'], ['04/11/2017', '12/02/2016']]       2
[['Thursday snack', 'Good value for money & good food!'], ['03/13/2017', '06/20/2016']]                                                  2
                                                                                                                                      ...
[['Delicious lunch', 'Hokejka'], ['11/13/2017', '08/20/2016']]                                                                           1
[['Good food, awesome staff', 'Excellent Steaks'], ['10/12/2017', '10/03/2017']]                                                         1
[['Delicious, friendly, cool'], ['12/24/2017']]                                                                                          1
[['WOW , lovely Food', 'Nice find'], ['10/24/2016', '09/18/2016']]                                                                       1
[['Genuine Turkish food, lovingly prepared'], ['10/02/2017']]                                                                            1
Name: Reviews, Length: 33516, dtype: int64
    ***    rows qnty of [Reviews]: 40000
    *** value_counts of [newQntyLastReview]:
2    28973
0     6471
1     4556
Name: newQntyLastReview, dtype: int64
    ***    rows qnty of [newQntyLastReview]: 40000
    *** value_counts of [newIsPositiveRev]:
0    27299
1    12701
Name: newIsPositiveRev, dtype: int64
    ***    rows qnty of [newIsPositiveRev]: 40000
    *** value_counts of [newLastRevYear]:
2017    22292
1900     6471
2018     4467
2016     4018
2015     1520
2014      646
2013      301
2012      164
2011       50
2008       30
2010       21
2009       15
2007        4
2004        1
Name: newLastRevYear, dtype: int64
    ***    rows qnty of [newLastRevYear]: 40000
    *** value_counts of [newLastRevMonth]:
1     11258
12     5878
11     4412
10     4029
9      2839
8      2329
7      2237
6      1714
5      1598
2      1413
4      1277
3      1016
Name: newLastRevMonth, dtype: int64
    ***    rows qnty of [newLastRevMonth]: 40000
    *** value_counts of [newLastRevDofM]:
1     7631
7     1446
6     1438
3     1374
8     1317
4     1272
2     1259
9     1258
5     1191
11    1082
29    1079
30    1067
22    1066
19    1050
10    1045
16    1022
28    1022
23    1018
26    1008
25     999
17     995
21     993
27     993
13     982
24     980
20     973
18     972
15     962
14     920
12     920
31     666
Name: newLastRevDofM, dtype: int64
    ***    rows qnty of [newLastRevDofM]: 40000
    *** value_counts of [newLastRevDofW]:
1    11367
6     5135
2     5028
5     4870
0     4806
3     4422
4     4372
Name: newLastRevDofW, dtype: int64
    ***    rows qnty of [newLastRevDofW]: 40000

### Новый признак ['newQntyDaysBetwRev'] - кол-во дней между двумя последними отзывами (365x200=73000 - нет ни одного отзыва /  365x100=36500 - есть только 1 отзыв / N - кол-во дней между двумя последними отзывами)

In [500]:
df['newQntyDaysBetwRev'] = 365 * 200
cnt = 0
    
idxList = df.index[df['Reviews'] != '[[], []]'].to_list()
for idx in idxList:
    cnt += 1
#     if cnt>5:
#         break
    Tdiff = dt.timedelta(days=0)
    lst = re.findall(r'\d\d\/\d\d\/\d{4}', df['Reviews'].iloc[idx])
    if len(lst) == 1:
        df['newQntyDaysBetwRev'].iloc[idx] = 365 * 100
    else:
        t1 = pd.to_datetime(lst[0])
        t2 = pd.to_datetime(lst[1])
        if t1 > t2:
            Tdiff = t1 - t2
        else:
            Tdiff = t2 - t1
        df['newQntyDaysBetwRev'].iloc[idx] = Tdiff.days
        #print(Tdiff, Tdiff.days)

prn_info('Reviews')
prn_info('newQntyDaysBetwRev')

    *** value_counts of [Reviews]:
[[], []]                                                                                                                              6471
[['Very good all around', 'Our first Madrid restaurant'], ['11/20/2017', '10/11/2017']]                                                  2
[['The real codido madrileño'], ['03/31/2017']]                                                                                          2
[['Whenever in Madrid, we never miss this gem...', 'Underrated sushi restaurant with very good...'], ['04/11/2017', '12/02/2016']]       2
[['Thursday snack', 'Good value for money & good food!'], ['03/13/2017', '06/20/2016']]                                                  2
                                                                                                                                      ...
[['Delicious lunch', 'Hokejka'], ['11/13/2017', '08/20/2016']]                                                                           1
[['Good food, awesome staff', 'Excellent Steaks'], ['10/12/2017', '10/03/2017']]                                                         1
[['Delicious, friendly, cool'], ['12/24/2017']]                                                                                          1
[['WOW , lovely Food', 'Nice find'], ['10/24/2016', '09/18/2016']]                                                                       1
[['Genuine Turkish food, lovingly prepared'], ['10/02/2017']]                                                                            1
Name: Reviews, Length: 33516, dtype: int64
    ***    rows qnty of [Reviews]: 40000
    *** value_counts of [newQntyDaysBetwRev]:
73000    6471
36500    4556
1         664
2         523
3         496
         ...
1455        1
1391        1
1359        1
1327        1
1167        1
Name: newQntyDaysBetwRev, Length: 1230, dtype: int64
    ***    rows qnty of [newQntyDaysBetwRev]: 40000

## *** <--//

## //--> *** Рестораны

### Новый признак ['newIsChain'] - сетевой ресторан (1=Да / 0=Нет)

In [501]:
df['newIsChain'] = 1
df_chain = pd.DataFrame(df.groupby(df['Restaurant_id']).newIsChain.count())
df_chain.columns = ['cnt']
idxList = df_chain.index[df_chain['cnt'] == 1].to_list() #это НЕсетевые рестораны
# len(idxList)
cnt=0
for idx in idxList:
    cnt += 1
#     if cnt>5:
#         break
    df['newIsChain'].iloc[df.index[df['Restaurant_id'] == idx]] = 0

prn_info('newIsChain')

    *** value_counts of [newIsChain]:
1    35295
0     4705
Name: newIsChain, dtype: int64
    ***    rows qnty of [newIsChain]: 40000

## *** <--//

## //--> =====  Очистка данных =====

### Очистка ['Cuisine Style'] - ??? надо ли делать ???

## ===== <--//

## //--> ===== Заполнение пропусков =====

### ['Number of Reviews']
Определить ['Number of Reviews']=NaN по кол-ву ['Reviews'] ('[[], []]' = 0/1/2)

In [502]:
cnt=0
idxList = df.index[df['Number of Reviews'].isna()].to_list()
for idx in idxList:
    cnt += 1
#     if cnt>5:
#         break
    df['Number of Reviews'].iloc[idx] = df['newQntyLastReview'].iloc[idx]

prn_info('Number of Reviews')

    *** value_counts of [Number of Reviews]:
2.0       1916
3.0       1636
0.0       1597
4.0       1370
5.0       1181
          ...
3015.0       1
1119.0       1
1606.0       1
1363.0       1
2800.0       1
Name: Number of Reviews, Length: 1461, dtype: int64
    ***    rows qnty of [Number of Reviews]: 40000

### ['newPriceLevel']
Среднее знач-е при фиксированных City, Rating, 'Number of Reviews', newQntyCS

In [503]:
cnt=0
idxList = df.index[df['newPriceLevel'] == -1].to_list()
for idx in idxList:
    cnt += 1
    #print(idx)
#     if cnt>5:
#         break
#     print(df['newPriceLevel'].iloc[idx])
    mean_val = df.loc[(df['City'] == df['City'].iloc[idx]) & 
                         (df['Rating']==df['Rating'].iloc[idx]) &
                         (df['Number of Reviews']==df['Number of Reviews'].iloc[idx]) &
                         (df['newQntyCS']==df['newQntyCS'].iloc[idx]) & 
                         (df['newPriceLevel'] != -1)
                        ].newPriceLevel.mean()
    if pd.isna(mean_val):
        #расширяем границы - убираем условие (df['Number of Reviews']==df['Number of Reviews'].iloc[idx])
        mean_val = df.loc[(df['City'] == df['City'].iloc[idx]) & 
                             (df['Rating']==df['Rating'].iloc[idx]) &
                             (df['newQntyCS']==df['newQntyCS'].iloc[idx]) & 
                             (df['newPriceLevel'] != -1)
                        ].newPriceLevel.mean()
        if pd.isna(mean_val):
            #расширяем границы - убираем условие (df['Rating']==df['Rating'].iloc[idx])
            mean_val = df.loc[(df['City'] == df['City'].iloc[idx]) & 
                                 (df['newQntyCS']==df['newQntyCS'].iloc[idx]) & 
                                 (df['newPriceLevel'] != -1)
                            ].newPriceLevel.mean()
        
    df['newPriceLevel'].iloc[idx] = round(mean_val)
    #print(idx,':',df['newPriceLevel'].iloc[idx])

prn_info('newPriceLevel')

    *** value_counts of [newPriceLevel]:
1.0    27468
0.0    10886
2.0     1646
Name: newPriceLevel, dtype: int64
    ***    rows qnty of [newPriceLevel]: 40000

## ===== <--//

# =========================================

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [504]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
#X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
X = df.drop(['Restaurant_id','City', 'Cuisine Style', 'Price Range', 
             'Reviews','URL_TA','ID_TA','Rating'], axis=1)
y = df['Rating']

In [505]:
X

,Ranking,Number of Reviews,newPriceLevel,newIsCapital,newQntyCS,newIsQntyCS01-05,newIsQntyCS06-10,newIsQntyCS11-15,newIsQntyCSgrt15,newIsUniqueCS,newQntyLastReview,newIsPositiveRev,newLastRevYear,newLastRevMonth,newLastRevDofM,newLastRevDofW,newQntyDaysBetwRev,newIsChain
0,5570.0,194.0,1.0,1,3,1,0,0,0,0,2,1,2017,12,31,6,41,1
1,1537.0,10.0,1.0,1,1,1,0,0,0,0,2,1,2017,7,6,3,382,1
2,353.0,688.0,2.0,1,7,0,1,0,0,0,2,0,2018,1,8,0,2,1
3,3458.0,3.0,1.0,1,1,1,0,0,0,0,0,0,1900,1,1,1,73000,1
4,621.0,84.0,1.0,0,3,1,0,0,0,0,2,1,2017,11,18,5,272,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,500.0,79.0,1.0,0,4,1,0,0,0,0,2,1,2017,12,16,5,34,1
39996,6341.0,542.0,1.0,1,5,1,0,0,0,0,2,1,2017,12,21,3,9,1
39997,1652.0,4.0,0.0,1,2,1,0,0,0,0,2,1,2016,11,3,3,3127,1
39998,641.0,70.0,1.0,1,5,1,0,0,0,0,2,0,2017,7,11,1,23,1
39999,4827.0,260.0,1.0,0,1,1,0,0,0,0,2,0,2016,1,31,6,1306,1

In [506]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [507]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [508]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [509]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [510]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))
#0 - MAE: 0.42803726567460315
#1 - MAE: 0.3444311738095238 / 0.35086609166666666
#2 - MAE: 0.34706674175824176 / 0.3427020345238095
#3 - MAE: 0.3475678107142857 / 0.3453844226190476
#4 - MAE: 0.3434115404761905 / 0.34369832023809516

MAE: 0.34369832023809516